h2 {
    color: #19B2F9;
    font-size: 50px;
    text-align: center;
}
form{
    text-align: center;
}
input {
    width: 90px;
    margin: 5px;
    height: 25px;
    text-align: center;
}
input[type="submit"] {
    background: #19B2F9;
    color: white;
    font-weight: bold;
    font-size: 13px;
}
.chessBoard {
    overflow: hidden;
    float: left;
    background: #776666;
    padding: 5px;
    border: 2px solid black;
}

.box{
    float: left;
    height: 60px;
    width: 60px;
}






